@charset "utf-8";
/* CSS Document */
/*= css reset
--------------------------------------------------*/
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquoteth,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
/*= 文字排版
--------------------------------------------------*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
/*= 定位
--------------------------------------------------*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block;}
*html .clearfix{height:1%}
. Clearfix{display:block;}
.vm{vertical-align:center;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1}
.hidden{visibility:hidden;}
.none{display:none;}
/*= 长度宽度
--------------------------------------------------*/
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w200{width:200px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w{width:100%}
.h50{width:50px;}
.h80{width:80px;}
.h100{width:100px;}
.h200{width:200px;}
.h{height:100%}
/*= 边距
--------------------------------------------------*/
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}
/*= common css
--------------------------------------------------*/
body { background:url(bg.jpg) top center no-repeat #BDDEEF; font-size:14px; color:#555; font-family:Arial, Helvetica,Tahoma,"Microsoft Yahei",sans-serif; }
a { color:#1294C3; text-decoration:none; }
a:hover { text-decoration:underline; }
/*= 头部导航
--------------------------------------------------*/
.container { width:960px; margin:0 auto; }
#header { height:110px; overflow:hidden; }
#header .logo { float:left; }
#header .logo img { margin-top:20px; }
#header .nav { float:right; margin-top:40px; }
#header .nav li { float:left; }
#header .nav li a { float:left; display:block; padding:6px 12px; margin:0 15px; color:#fff; }
#header .nav li a:hover { color:#000; }
/*= 页面主体
--------------------------------------------------*/
#content { background:#fff; padding:20px 20px 40px; overflow:hidden; border-radius:10px; }
#content-main { float:left; width:620px; }
#content-main .title { width:620px; padding-bottom:10px; }
#content-main .title h2 { padding-bottom:10px; }
#content-main .title h2, #content-main .title h2 a { color:#6FAD1B; font-size:22px; line-height:26px; word-wrap:break-words; }
#content-main .title h2 { font-size:16px; }
#content-main .sprite { background:#F2F2F2; font-size:12px; color:#76797C; line-height:25px; padding-left:15px; border-left:4px solid #999; }
#content-main .content { padding-bottom:20px; }
#content-main .content p { margin-top:15px; font-size:14px; text-indent:2em; line-height:28px; }
#content-main .content p img { border-radius:10px; }
#content-main .content .readMore { text-align:right; margin-right:30px; }
#content-sidebar { float:right; width:250px; overflow:hidden; }
/*= 评论样式
--------------------------------------------------*/
.comment {}
.comment dt { font-size:16px; padding-bottom:15px; }
.comment dd { padding:10px; border-top:1px dotted #ccc; }
.comment .comment-avatar { float:left;}
.comment .comment-avatar img { border-radius:27px; box-shadow:0 0 10px #fff; transition:-moz-transform 0.4s ease-out 0s; }
.comment .comment-avatar img:hover { transform:rotateZ(360deg); }
.comment .comment-details { padding-left:60px; }
.comment .comment-content { padding:5px 0; }
.comment .comment-name { color:#777777; }
.comment .comment-datetime { color:#999; font-size:12px; margin-right:5px; }
.comment .comment-post-reply { color:#999; font-size:12px; padding-left:20px; background:url(sprites.png) 0 -103px no-repeat; opacity:0.7; transition:opacity 0.15s linear 0s; }
.comment .comment-post-reply:hover { color:#555; opacity:1; }
/*= 评论回复样式
--------------------------------------------------*/
.comment-reply { margin-left:60px; }
.comment-reply li { display:block; overflow:hidden; margin:10px 0; }
.comment-reply .comment-name a { color:#DD3322; }
.comment-reply .comment-avatar { clear:right; }
.comment-reply .comment-details { padding-left:40px; }
.comment-form { padding-left:60px; padding-bottom:10px; }
.comment-form-avatar { float:left; padding-top:8px; }
.comment-form-avatar img { border-radius:27px; box-shadow:0 0 10px #fff; transition:-moz-transform 0.4s ease-out 0s; }
.comment-form-avatar img:hover { transform: rotateZ(360deg); }
/*= 分页信息
--------------------------------------------------*/
.turnner { background:#eee; text-align:center; padding:10px; border-radius:5px; width:600px; }
.turnner a { padding:3px 8px; margin-right:2px; border-radius:4px; color:#666666; }
.turnner a:hover { color:#000; }
.turnner a.c { color:#1294C3; background:#fff; }
.turnner a.c:hover { text-decoration:none; }
.read .turnner { background:none; text-align:right; }
/*= 页脚信息样式
--------------------------------------------------*/
#footer { margin-top:20px; height:110px; color:#888; }
#footer .copyright { float:right; }
#footer .copyright a { color:#AAAAAA; }
/*= 侧边栏样式
--------------------------------------------------*/
.widget dl { margin:20px 0; }
.widget dt { margin:0 0 10px; padding-bottom:10px; font-size:24px; border-bottom:1px dotted #ccc; color:#1294C3; }
.widget dd { padding-left:10px; }
.widget dd .icon { display:inline-block; font-size:13px; line-height:25px; color:#1294C3; padding-right:3px; }
/*= 标签云样式
--------------------------------------------------*/
#tag_cloud { height:250px; padding:0; position:relative; width:250px; margin:-10px auto 20px -20px; display:none; }
#tag_cloud a { position:absolute; left:0; top:0; padding:4px 6px; }
#tag_cloud a.blue {color:blue;}
#tag_cloud a.red {color:red;}
#tag_cloud a.yellow {color:yellow;}
/*= 细节处理
--------------------------------------------------*/
.fcattached { background:url(fcattached.gif) left center no-repeat; padding-left:20px; }
.comment-reply .comment-form { padding-left:0; }
#comment_box h3 { font-size:16px; padding-bottom:10px; }
/*= 评论表单样式
--------------------------------------------------*/
.comment-form {}
.comment-form legend { display:none; }
.comment-form label { display:none; }
.comment-form table tr td { padding-top:10px; }
.comment-form input[type="text"], .comment-form textarea { font-size:14px; width:200px; border:1px solid #ccc; border-radius:3px; padding:6px; background:url(bg_sprites.png) 0 -90px repeat-x #fff; color:#ccc; }
.comment-form textarea { width:340px; height:80px; }
.comment-form input:focus, .comment-form textarea:focus { color:#333; }
.comment-form button { border-color:#CCCCCC #CCCCCC #BBBBBB; border-width:1px; boder-style:solid; border-radius:3px; box-shadow:0 0 1px #FFFFFF inset; height:30px; transition:all 0.15s linear 0s; width:100px; background-color:#E6E6E6; background:linear-gradient(#FCFCFC, #FCFCFC 25%, #E6E6E6) no-repeat #e6e6e6; cursor:pointer; font-size:14px; text-shadow:0 1px 0 #fff; font-weight:bold; color:#555; }
.comment-form button:hover { background-position:0 -15px; color:#333; }
/*= 搜索部分样式
--------------------------------------------------*/
#globalsearch { width:66%; position:relative; transition: width 0.3s ease-in-out 0s; }
#globalsearch legend { margin-bottom:10px; }
.search-form input { padding:5px; width:100%; font-family:Arial, Helvetica, sans-serif; }
.search-form button { border:none; background:none; position:absolute; right:-12px; bottom:3px; }